
Flask==1.1.2
gunicorn==20.0.4


jsonify==0.5

MarkupSafe==1.1.1
matplotlib 
mkl
numpy==1.18.5
pandas>=0.19

pytz
requests>=2.24.0
scikit-learn>=0.18
scipy 
seaborn==0.10.1
six==1.14.0

seaborn==0.10.1

sklearn>=0.0

urllib3>=1.26.1
Werkzeug>=1.0.1
wincertstore>=0.0
